* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}
body{
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    background-attachment: fixed;
    
    }
.content{
    padding: 1rem;
    background-color: rgba(219, 219, 219, 0.5);
    height: auto;
    width: 100vw;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    background-color: #FFDE00;
    padding: 30px;
    border-radius: 3em;
}
.header h1{
    color:#FFDE00;
    text-shadow: 
               -2px -2px 4px #3b4cca, 
               -2px 1px  4px #3b4cca,                    
                2px 1px  4px #3b4cca,                  
                3px 3px  4px #3b4cca;
    font-size: 4rem;
}
.content .header img{
    max-width:20vh;
    text-align: center;

}

.pagination{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
#loadMoreButton {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 1.2em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  #loadMoreButton:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }
  
  .first {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .first:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
  }
@media screen and (max-width:450px){
    .content .header img.pokebola{
        display: none;
     }
}
@media screen and (min-width:992px){
    .content{
        max-width: 992px;
        margin: 1rem auto;
        height: auto;
        border-radius: 1rem;
    }
    
}